body{
    background-color: cornflowerblue
}


h1{
    text-align: center;
    font-size: 60px;
    color: burlywood;
    font-family: sans-serif;
}

h2{
    font-size: 25px;
    color: gold
}
p{
    font-family: 'Grandstander', cursive;
    font-size: 18px;

}
